*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}
 @import url("https://fonts.google.com/specimen/Oswald");
 body{
    font-family:"Popins",sans-serif;
    width:100%;
    font-size: 22px;
 }
 .header{
    background:radial-gradient(#fff,#74b9ff) ;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
 }
 .main{
    display:flex;
    width:100%;
    height:100vh;
    margin:center;
    align-items:center;
 }
 .column{
    flex-basis: 50%;
    margin:30px;
 }
 .nav{
    display:flex;
    align-items:end;
    justify-content: space-between;
    padding:20px;
 }
.nav li{
    list-style-type: none;
    display: inline;
}
.nav a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-left: 30px;
    padding-bottom: 5px;
}
.my-img{
    margin-left:100px;
    width: 400px;
    height:300px;
}
.button{
    font-size: 18px;
    margin-right:15px;
    padding:8px 15px;
    cursor:pointer;
    border-radius: 20px;
    background-color:rgb(250, 238, 74);
    cursor: pointer;
}
.nav a:hover{
    border-bottom:2px solid #3498;
}
.categories{
    margin: 70px 0;
    text-align:center;
}
.categories h2{
           display: inline-block;
           font-size: 28px;
           font-weight:400;
           margin-bottom:35px;
           border-bottom:3px solid #fbc531;
}
.categories .row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}
.categories .row img{
    height:250px;
    width:250px;
    margin-bottom:20px;
}
.categories.row p{
    font-size:18px;
}
.features{
    margin: 70px 0;
    text-align:center;
}
.features h2{
           display: inline-block;
           font-size: 28px;
           font-weight:400;
           margin-bottom:35px;
           border-bottom:3px solid #fbc531;
}
.features .row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}
.features .row img{
    height:250px;
    width:250px;
}
.deals .row{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0 75px;

    flex-wrap: wrap;

    text-align: left;
    margin-top: 15px;
}
.today{
    margin: 70px 0;
    text-align:center;
}
.today h2{
           display: inline-block;
           font-size: 28px;
           font-weight:400;
           margin-bottom:35px;
           border-bottom:3px solid #fbc531;
}
.today .row{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    text-align: left;
    margin-top: 15px;
    flex-wrap: wrap;
    gap:30px;
    margin: 0px 75px;
    cursor: pointer;
}
.today .row img{
    height:250px;
    width:250px;
}
.offer{
    margin:70px 0;
    padding:30px 0;
    background: radial-gradient(#fff,#74b9ff);
}
.offer .offer-container{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 20px 50px;
}
.offer .offer-container .offer-image img{
    height: 300px;
    width: 350px;
}
.offer .offer-container .offer-details{
    flex-basis: 50%;
}
.offer .offer-container .offer-details{
    font-size: 20px;
}
.offer .offer-container .offer-details h1{
    font-size: 35px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.review{
    margin-top: 50px;
    margin-bottom: 70px;
    text-align: center;
}
.review h2{
    display: inline-block;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 50px;
    border-bottom: 2px solid #fbc531;
}
.review .row{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 75px;
    text-align: center;
    margin-top: 15px;
}
.review .row img{
    height: 70px;
    width:70px;
    border-radius:100px;
}
.review .review{
    flex-basis: 30%;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
}
.footer{
    width: 100%;
    margin-top: 50px;
    background-color: #74b9ff;
    padding: 30px 50px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.footer .row{
    padding:20px;
    margin-right: 25px;
    flex-basis: 25%;
}
.copy{
    text-align: center;
    margin: 10px;
    color: #555;
}
@media only screen and (max-width:768px){
    nav ul{
        display:none;
    }
    .navbar .menu-icon{
        display: block;
    }
}
@media only screen and (max-width:768px){
  .main{
        height: auto;
        flex-direction: column;
        text-align: center;
    }
    .header{
        padding-left: 15px;
        padding-right: 15px;
    }
    .column{
        margin: 25px;
    }
    .column h1{
        font-size:45px;
        margin-bottom:25px;
    }
    .column img{
        height:250px;
        width:350px;
    }
    .button{
        margin-top: 30px;
    }
}